<p>child-component works!</p>
<!-- <div>
<input type="text" #num1 placeholder="Enter the first no"><br>
<input type="text" #num2  placeholder="Enter the second no"><br>
<button style="width: 60px;" (click)="addition(num1.value,num2.value)">Addition</button><br>
<input type="text" [value]="result">
</div> -->

<!-- //template referace variale -->
<div>
    <input type="text" #num1 placeholder="Enter the first no"><br>
    <input type="text" #num2  placeholder="Enter the second no"><br>
    <button style="width: 60px;" (click)="addition(num1.value,num2.value)">Addition</button><br>
   
    </div>